* {
    bg-col: #3c3836;
    bg-col-light: #3c3836;
    border-col: #d79921;
    selected-col: #615954;
    blue: #d79921;
    fg-col: #8ec07c;
    fg-col2: #F8F8F2;
    grey: #458588;
    width: 600;
}
