* {
    bg-col:  #282A36;
    bg-col-light: #282A36;
    border-col: #6272A4;
    selected-col: #44475A;
    blue: #BD93F9;
    fg-col: #F8F8F2;
    fg-col2: #F8F8F2;
    grey: #6272A4;
    width: 600;
}
