@define-color rosewater #f4dbd6;
@define-color flamingo #f0c6c6;
@define-color pink #f5bde6;
@define-color mauve #c6a0f6;
@define-color red #ed8796;
@define-color maroon #ee99a0;
@define-color peach #f5a97f;
@define-color yellow #eed49f;
@define-color green #a6da95;
@define-color teal #8bd5ca;
@define-color sky #91d7e3;
@define-color sapphire #7dc4e4;
@define-color blue #8aadf4;
@define-color lavender #d79921;
@define-color text #a1cc91;
@define-color subtext1 #b8c0e0;
@define-color subtext0 #a5adcb;
@define-color overlay2 #939ab7;
@define-color overlay1 #3c3836;
@define-color overlay0 #6e738d;
@define-color surface2 #5b6078;
@define-color surface1 #B7201A;
@define-color surface0 #363a4f;
@define-color base #1a1817;
@define-color mantle #1e2030;
@define-color crust #181926;

* {
    border: none;
    border-radius: 0px; /* Скругление углов */
    font-family: "JetBrains Mono";
    font-size: 14px;
    min-height: 0;
  }
  
  window#waybar {
    color: @text;
    background: @base;
    margin-top: 5px;
  }

  #workspaces,
  #window,
  #clock,
  #keyboard-state,
  #wireplumber,
  #tray {
  background: @base;
  }

  #workspaces button {
    color: @text;
    margin:0px;
    padding:2px;

  }
  #workspaces button:hover {
    background-color: @surface1; /* Surface1 */
  }

  #workspaces button.focused {
    background: @overlay1;
    
  }

  #workspaces button.urgent {
    background-color: @red; 
  }

  #clock,
  #keyboard-state,
  #wireplumber,
  #tray {
    padding: 0 5px;
    margin-right: 5px;
  }

  #clock {
    padding: 0 5px;
    margin-right: 5px; /* Отступ справа */
  }

  #language {
    padding: 0 5px;
    margin-right: 5px; /* Отступ справа */
  }

  #wireplumber {
    padding: 0 5px;
    margin-right: 5px; /* Отступ справа */
  }

  #tray {
    margin-right: 5px; /* Внешние отступы */
    border: solid #a1cc91 2px;
    border-radius:10px;
    margin:3px;
    border-color:#d79921;
  }

  #tray > .passive {
    -gtk-icon-effect: dim;
  }

  #tray > .needs-attention {
    -gtk-icon-effect: highlight;
  }

  #tray > .active {
    background-color: @base;
  }
